<template>
  <div>
    <div class="form-group">
      <label for="type">Tipo</label>
      <input
        type="text"
        name="type"
        id="type"
        class="form-control"
        required
        v-model="fileType.type"
        autofocus
      />
    </div>
    <button class="btn btn-success" @click="saveFileType()">Guardar</button>
  </div>
</template>

<script>
import FileTypeService from "../../service/FileTypeService";

export default {
  name: "AddFileType",
  data() {
    return {
      fileType: {
        id: null,
        type: '',
        status: true,
      },
    };
  },
  methods: {
    saveFileType() {
      FileTypeService.create(this.fileType)
        .then((response) => {
          console.log(response.data);
          this.$router.push("/listFileType");
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
</style>