<template>
  <div>
    <div class="form-group">
      <label for="type">Tipo</label>
      <input
        type="text"
        name="type"
        id="type"
        class="form-control"
        required
        v-model="fileType.type"
      />
    </div>

    <!-- :checked: para que me muestre si esta en false o true -->
    <div class="form-check mb-4">
      <input
        name="status"
        type="checkbox"
        :checked="fileType.status"
        class="form-check-input"
        id="status"
        v-model="fileType.status"
      />
      <label class="form-check-label" for="status">Estado</label>
    </div>

    <button class="btn btn-primary" @click="updateFileType">Actualizar</button>
  </div>
</template>

<script>
import FileTypeService from "../../service/FileTypeService";
export default {
  name: "EditFileType",
  data() {
    return {
      fileType: null,
    };
  },
  methods: {
    updateFileType() {
      FileTypeService.update(this.fileType)
        .then((response) => {
          console.log(response.data);
          this.$router.push("/listFileType");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getFileTypeById(id) {
      FileTypeService.getById(id)
        .then((response) => {
          this.fileType = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    this.getFileTypeById(this.$route.params.id);
  },
};
</script>

<style>
</style>