<template>
  <div class="row">
    <div class="col-md-10">
      <h4></h4>
    </div>
    <div class="col-md-10">
      <a :href="'/addFileType'" class="btn btn-info mb-4">
        <b-icon-plus-square-fill />
        Agregar Tipo de Archivo
        <!-- Agregar icono: b-icon-[nombre del Icono] y son de Bootstrap -->
      </a>
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-light">
          <th>Núm.</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th colspan="2">Acciones</th>
        </thead>
        <tbody>
          <tr v-for="(fileType, index) in fileTypes" v-bind:key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ fileType.type }}</td>
            <td>{{ fileType.status ? "Activo" : "Inactivo" }}</td>
            <td>
              <a :href="'/editFileType/' + fileType.id" class="btn btn-primary">
                <b-icon-pencil-fill />
              </a>
            </td>
            <td>
              <b-button variant="danger" @click="deteleFileType(fileType.id)">
                <b-icon-trash-fill />
              </b-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import FileTypeService from "../../service/FileTypeService";
export default {
  name: "ListFileType",
  data() {
    return {
      fileTypes: [],
    };
  },
  methods: {
    getAllFileType() {
      FileTypeService.getAll()
        .then((response) => {
          console.log(response.data);
          this.fileTypes = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deteleFileType(id) {
      if (confirm("¿Estas seguro de eliminar el registro?")) {
        FileTypeService.delete(id)
          .then((response) => {
            console.log(response.data);
            this.getAllFileType();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
  mounted() {
    this.getAllFileType();
  },
};
</script>

<style>
</style>