<template>
  <div>
    <b-form>
      <b-row>
        <b-col cols="3">
          <b-form-group
            id="category"
            label="Tipo de documento"
            label-for="categoryInput"
          >
            <b-form-select
              id="categoryInput"
              required
              v-model="objectValue.categoryId"
              @change="getInfo"
            >
              <b-form-select-option
                v-for="(category, index) in categoryList"
                :key="index"
                :value="category.id"
              >
                <!-- //? con esto esta al tanto de nuestro método para enviar info -->
                {{ category.type }}
              </b-form-select-option>
            </b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="9">
          <b-form-group
            id="documentTitle"
            label="Título"
            label-for="documentTitleInput"
          >
            <b-form-input
              id="documentTitleInput"
              type="text"
              required
              placeholder="Título del documento"
              v-model="objectValue.title"
              @blur="getInfo"
            />
          </b-form-group>
        </b-col>
      </b-row>

      <b-form-group id="content" label="Contenido" label-for="contentInput">
        <b-form-textarea
          id="contentInput"
          placeholder="Agrega el cuerpo a tu documento"
          rows="8"
          no-resize
          v-model="objectValue.content"
          @blur="getInfo"
        />
      </b-form-group>

      <b-form-group
        id="fileType"
        label="Tipo de archivo"
        label-for="filetypeInput"
      >
        <b-form-select
          id="filetypeInput"
          required
          v-model="objectValue.fileTypeId"
          @change="getInfo"
        >
          <b-form-select-option
            v-for="(fileType, index) in fileTypeList"
            :value="fileType"
            :key="index"
          >
            {{ fileType.type }}
          </b-form-select-option>
        </b-form-select>
      </b-form-group>

      <b-form-group v-if="isNotMap">
        <b-form-file
          placeholder="Selecciona un archivo"
          v-model="objectValue.attachFile"
          @change="getInfo"
        />
      </b-form-group>

      <div>
        <GoogleMap />
      </div>
        
    </b-form>
  </div>
</template>

<script>
import CategoryService from "../../service/CategoryService";
import FileTypeService from "../../service/FileTypeService";
import GoogleMap from "../document/GoogleMap";

export default {
  name: "AddDocument",
  components: {
    GoogleMap,
  },
  data() {
    return {
      objectValue: {
        title: "",
        content: "",
        categoryId: 0,
        fileTypeId: 0,
        attachFile: null,
      },
      categoryList: null,
      fileTypeList: null,
      isNotMap: true,
    };
  },
  methods: {
    fillCategoryList() {
      CategoryService.getAll()
        .then((response) => {
          this.categoryList = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    fillFileTypeList() {
      FileTypeService.getAll()
        .then((response) => {
          this.fileTypeList = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    // ? Enviar datos al componente padre
    getInfo() {
      const { type } = this.objectValue.fileTypeId;
      let text = new String(type);
      text = text.toUpperCase();
      if (text.search("MAP") >= 0) {
        this.isNotMap = false; //? Activar el mapa
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            (position) => {
              console.log(position.coords.latitude);
              console.log(position.coords.longitude);
            },
            (error) => {
              console.log(error.message);
            }
          );
        } else {
          console.log("Tu navegador no soporta la geolocalización");
        }
      } else {
        this.isNotMap = true;
      }

      this.$emit("getInfoFromChild", this.objectValue); // * Le enviamos todo el formaulario u objeto al padre
    },
  },
  mounted() {
    this.fillCategoryList();
    this.fillFileTypeList();
  },
};
</script>

<style>
</style>