<template>
  <div>
    <div id="map" ref="map"></div>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  methods: {
    loadMap() {
      let map = new window.google.maps.Map(this.$refs["map"], {
        center: {
          lat: 18.9261,
          lng: -99.3434,
        },
        zoom: 8,
      });
      let drawingManager = new window.google.maps.DrawingManager();
      drawingManager.setMap(map);
    },
  },
  mounted(){
       this.loadMap()
  }
};
</script>

<style>
     #map{
          height: 600px
     }
</style>