<template>
  <div>
    <b-row>
      <b-col cols="12">
        <div class="grid grid-inbox">
          <div class="grid-body">
            <b-row>
              <!-- Inicio del menú de bandeja de entrada -->
              <b-col cols="3">
                <h2 class="inbox-title">
                  <b-icon-inbox-fill />
                  Bandeja de entrada
                </h2>
                <b-button
                  pill
                  variant="outline-primary"
                  v-b-modal.modal-new-document
                >
                  <b-icon-plus />
                  Nuevo
                </b-button>
                <hr />
                <div>
                  <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                      <b-icon-archive-fill />
                      Recibidos
                    </li>
                  </ul>
                </div>
                <!-- Fin del menú de bandeja de entrada -->
              </b-col>
              <!-- Inicio de la bandeja de entrada -->
              <b-col cols="9">
                <!-- Formulario de búsqueda -->
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="action">
                          <input type="checkbox" />
                        </td>
                        <td class="action">
                          <b-icon-star />
                        </td>
                        <td class="action">
                          <b-icon-bookmark />
                        </td>
                        <td class="document-title">Oficio 10/03/2021</td>
                        <td class="document-content">
                          Mostrar parte del contenido
                        </td>
                        <td class="time">07:50 AM</td>
                      </tr>
                      <tr>
                        <td class="action">
                          <input type="checkbox" />
                        </td>
                        <td class="action">
                          <b-icon-star />
                        </td>
                        <td class="action">
                          <b-icon-bookmark />
                        </td>
                        <td class="document-title">Oficio 10/03/2021</td>
                        <td class="document-content">
                          Mostrar parte del contenido
                        </td>
                        <td class="time">07:50 AM</td>
                      </tr>
                      <tr class="read">
                        <td class="action">
                          <input type="checkbox" />
                        </td>
                        <td class="action">
                          <b-icon-star />
                        </td>
                        <td class="action">
                          <b-icon-bookmark />
                        </td>
                        <td class="document-title">Oficio 10/03/2021</td>
                        <td class="document-content">
                          Mostrar parte del contenido
                        </td>
                        <td class="time">07:50 AM</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- Simulación de paginación -->
              </b-col>
            </b-row>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-modal
      id="modal-new-document"
      centered
      title="Nuevo documento"
      size="lg"
      ok-title="Guardar"
      ok-variant="success"
      cancel-title="Cancelar"
      cancel-variant="danger"
      @ok="saveDocument"
    >
      <AddDocument @getInfoFromChild="createDataForm" />
      <!-- //? El padre escucha con nuestro evento personalizado, los datos del hijo -->
    </b-modal>
  </div>
</template>

<script>
import AddDocument from "./AddDocument";
import DocumentService from "../../service/DocumentService";
export default {
  name: "InboxDocument",
  components: {
    AddDocument,
  },
  data() {
    return {
    /*   document: {
        title: "",
        content: "",
        category: {
          id: 0,
        },
      },
      fileType:'',
      file:null, */
      dataChild: null,
    };
  },
  methods: {
    createDataForm(data) {
      // * Este método esta a la escucha del hijo y guardando los datos transformandolos en objeto
      /* this.document.title = data.title;
      this.document.content = data.content;
      this.document.category.id = data.categoryId;
      this.fileType = data.fileTypeId.id
      this.file = data.attachFile */

      this.dataChild = data;
    },
    saveDocument() {
      // * Consumir el API

     /*  console.log(this.document['title']);
      console.log(this.document['content']);
      console.log(this.document['category'].id);
      console.log(this.fileType); 
      console.log(this.file); */

      //console.log(this.dataChild.fileTypeId.id)

      let formData = new FormData();
      formData.append("title", this.dataChild.title)
      formData.append("content", this.dataChild.content)
      formData.append("categoryId", this.dataChild.categoryId)
      formData.append("fileType", this.dataChild.fileTypeId.id)
      formData.append("file", this.dataChild.attachFile)
      DocumentService.create(formData, {headers:{'Content-Type':'multipart/form-data'}})
        .then((response) => {
          console.log(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
body {
  margin-top: 20px;
  background: #eee;
}

.grid-inbox {
  padding: 20px 10px 15px 10px;
  font-size: 1em;
}

.grid-inbox h2 {
  margin-top: 0;
  padding-bottom: 8px;
}

.grid-inbox .nav.nav-pills > li > a {
  border-top: 3px solid transparent;
}

.grid-inbox table {
  font-weight: 600;
}

.grid-inbox table tr > td.action {
  padding-left: 0;
  padding-right: 2px;
}

.grid {
  position: relative;
  width: 100%;
  background: #fff;
  color: #666;
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
  padding: 15px 20px;
  font-size: 0.9em;
  line-height: 1.9em;
}
</style>