<template>
  <div>
    <div class="form-group">
      <label for="type">Tipo</label>
      <input
        type="text"
        name="type"
        id="type"
        class="form-control"
        required
        v-model="category.type"
        autofocus
      />
    </div>
    <button class="btn btn-success" @click="saveCategory()">Guardar</button>
  </div>
</template>

<script>
import Categoryservice from "../../service/CategoryService";
export default {
  name: "AddCategory", // ? Nombre del archivo
  data() {
    // ? Esto retornara todas mis variables u objetos
    return {
      category: {
        id: null,
        type: "",
        status: true,
      },
    };
  },
  methods: {
    // Retornar todos los metodos a utilizar
    saveCategory() {
      Categoryservice.create(this.category)
        .then((response) => {
          // Redireccionar
          // Mostrar alerta
          console.log(response.data);
          this.$router.push("/categories"); // TODO Redireccionar al componente inicial (la lista)
        })
        .catch((err) => {
          console.log(err);
        });
      console.log("Mi objeto es:", this.category);
    },
  },
};
</script>

<style scoped>
</style>