<template>
  <div>
    <div class="form-group">
      <label for="type">Tipo</label>
      <input
        type="text"
        name="type"
        id="type"
        class="form-control"
        required
        v-model="category.type"
      />
    </div>

    <!-- :checked: para que me muestre si esta en false o true -->
    <div class="form-check mb-4">
      <input
        name="status"
        type="checkbox"
        :checked="category.status"
        class="form-check-input"
        id="status"
        v-model="category.status"
      />
      <label class="form-check-label" for="status">Estado</label>
    </div>

    <button class="btn btn-primary" @click="updateCategory">Actualizar</button>
  </div>
</template>

<script>
import CategoryService from "../../service/CategoryService";
export default {
  name: "EditCategory",
  data() {
    return {
      category: null,
    };
  },
  methods: {
    updateCategory() {
      CategoryService.update(this.category)
        .then((response) => {
          console.log(response);
          this.$router.push("/categories"); // TODO Redireccionar al componente inicial (la lista), deacuerdo a las rutas del router
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getCategoryById(id) {
      CategoryService.getById(id)
        .then((response) => {
          this.category = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    // TODO Agregar acciones cuando el component se cargue
    // * this.$route.params.id: traemos de la ruta el valor que nos envian
    this.getCategoryById(this.$route.params.id);
  },
};
</script>

<style>
</style>