<template>
  <div class="row">
    <div class="col-md-10">
      <h4></h4>
    </div>
    <div class="col-md-10">
      <a :href="'/addCategory'" class="btn btn-info mb-4">
        <b-icon-plus-square-fill />
        Agregar categoría
        <!-- Agregar icono: b-icon-[nombre del Icono] y son de Bootstrap -->
      </a>
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-light">
          <th>Núm.</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th colspan="2">Acciones</th>
        </thead>
        <tbody>
          <tr v-for="(category, index) in categories" v-bind:key="index">
            <!-- v.bind, es un identificador para cada fila y poder recuperar todos los datos de esa fila si se necesitan en una acción -->
            <td>{{ index + 1 }}</td>
            <td>{{ category.type }}</td>
            <td>{{ category.status ? "Activo" : "Inactivo" }}</td>
            <td>
              <a :href="'/categorias/' + category.id" class="btn btn-primary">
                <b-icon-pencil-fill />
              </a>
            </td>
            <td>
              <b-button variant="danger" @click="deleteCategory(category.id)">
                <b-icon-trash-fill />
              </b-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import CategoryService from "../../service/CategoryService";
export default {
  /* SIEMPRE AL CREAR UN COMPONENETE CREAR EL NAME Y COLOCAS EL MISMO NOMBRE DEL ARCHIVO */
  name: "ListCategory",
  data() {
    return {
      categories: [],
    };
  },
  methods: {
    getAllCategory() {
      CategoryService.getAll()
        .then((response) => {
          console.log(response.data);
          this.categories = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    deleteCategory(id) {
      if (confirm("¿Estas seguro de eliminar el registro?")) {
        CategoryService.delete(id)
          .then((response) => {
            console.log(response);
            this.getAllCategory();
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
  },
  mounted() {
    // Acciones luego que el componente cargue
    this.getAllCategory();
  },
};
</script>

<style scoped>
</style>