<template>
  <div id="app">
    <div v-if="isLogin">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link to="/categories" class="nav-link"
              >Categoría</router-link>
          </li>
          <li>
            <router-link to="/listFileType" class="nav-link">
              Tipo Archivo
            </router-link>
          </li>
        </div>
      </nav>
      <div class="container-fluid">
        <router-view />
      </div>
    </div>
    <div v-else>
      <login @showApp="showApp"/>
    </div>
  </div>
</template>

<script>
import Login from "./components/login/Login.vue";

export default {
  name: "App",
  components: {
    Login,
  },
  data() {
    return {
      isLogin: false,
    }
  },
  methods:{
    showApp(flag){
      this.isLogin = flag;
    }
  }
};
</script>

<style>
</style>
